<div class="container my-5">


    <!-- Section: Block Content -->
    <section class="dark-grey-text">
  
      <h3 class="text-center font-weight-bold mb-4 pb-2">Our Services</h3>
      <p class="text-center text-muted w-responsive mx-auto mb-5">JS.Fofana Bank, Provider of banking, mortgage, investing, 
        credit card, and personal, small business, and commercial financial services</p>
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-5 mb-lg-0 mb-5">
  
          <img src="assets/images/credit.jpg" class="img-fluid rounded z-depth-1" alt="Sample project image">
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-7">
  
          <ul class="list-unstyled fa-ul mb-0">
            <li class="d-flex justify-content-center pl-4">
              <span class="fa-li"><i class="fas fa-users fa-2x"></i></span>
              <div>
                <h5 class="font-weight-bold mb-3">User Experience</h5>
                <p class="text-muted">JS.Fofana is one of the leading providers of onloine baniking services, 
                  we strive to offer the best responsive userfriendly interface for our clients.</p>
              </div>
            </li>
            <li class="d-flex justify-content-center pl-4">
              <span class="fa-li"><i class="fas fa-shield-alt fa-2x red-text"></i></span>
              <div>
                <h5 class="font-weight-bold mb-3">Security</h5>
                <p class="text-muted">Security and fraud prevention is at the core of our business. Our security schemas 
                  are configured within our application to prevent hackers from accessing pages without authentification.</p>
              </div>
            </li>
            <li class="d-flex justify-content-center pl-4">
              <span class="fa-li"><i class="fas fa-headset fa-2x deep-purple-text"></i></span>
              <div>
                <h5 class="font-weight-bold mb-3">Customer Service</h5>
                <p class="text-muted mb-0">When it comes to your business, we know there's no such thing as 9-5. Upon requests 
                  to server feedback is displayed to user helping the user determin the correct data to send.</p>
              </div>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
      <hr class="my-5">
  
    </section>
    <!-- Section: Block Content -->
  
  
  </div>