<mdb-card class="card">
    <mdb-card-body>
        <div class="modal-header d-flex justify-content-center">
            <i class="fas fa-user"></i>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <h4>Welcome</h4>
        </div>
        <div class="md-form mb-5">                      
            <h4>{{user.email}}</h4>
          </div>
          <div class="md-form mb-4">          
            
        </div>
        
    </mdb-card-body>
  </mdb-card>