.spacer{
    margin-bottom: 10%;
}

nav{
    background: linear-gradient(to bottom, #009688, #00796b);
}

.view{
    background: linear-gradient(to bottom, #4285F4, #0d47a1);
}

.container{
    background: linear-gradient(to bottom, #b1bace, #7283a7);
    border-radius: 10px;
}

.panel{
    background: linear-gradient(to bottom, #dfe5f1, #d0d6e2);
}